.b-wrapper-vidjet {
   margin: auto;
   width: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color:rgb(93%, 87%, 86%, 0.3);
   // backdrop-filter: blur(10px);
   font-size: 30px;

   &__body-vidjet {
      display: flex;
      flex-direction: column;
      align-items:center;

   }
}

