@font-face {
    font-family: 'Horizon';
    src: url('../fonts/Horizon-nMeM.ttf');
}

@font-face {
    font-family: 'Iceland';
    src: url('../fonts/Iceland-Regular.ttf');
}

// @import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('../css/b-vidjet.min.css');
@import url('../css/b-clock.min.css');

$btn-color: rgba(213, 184, 176, 1);
$text-color: rgba(64, 37, 36, 1);
$base-color:rgba(223, 218, 218, 1);

body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    margin-top: 10vh;
}





